<html>
<head>
  <title>No inputs!</title>
</head>
<body>
<h1>You didn't input any values!</h1>
  <p>Please input brevet times to view the display or submit</p>
<p>Maybe <a href="{{ url_for("index") }}">try again</a>?</p>
</body>
</html>
